$primary: #09A2FA;
$background: #F1F1F1;

@font-face {
    font-family: SourceSansPro;
    src: url('./fonts/SourceSansPro-Regular.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: $background;
    font-family: SourceSansPro, sans-serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
}

// @media only screen and (max-width: 600px) {
//     body {
//       background-color: lightblue;
//     }
//   }

nav {
    margin-right: 30px;
    ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        gap: 30px;

        a:hover {
            text-decoration: underline;
        }
    }
    @media only screen and (max-width: 600px) {
        ul {
            margin-top: 30px;
            justify-content: center;
        }
    }
}

.selected, .primary {
    color: $primary;
}